<div class="field is-grouped">
  <div class="control">
    <%= form.submit value: "Save", class: 'button is-link' %>
  </div>
  <div class="control">
    <%= link_to 'Cancel', back_to, class: 'button is-text' %>
  </div>
</div>
