<h1 class="title">Suppliers</h1>

<table class="table is-striped is-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>URL</th>
      <th style="width: 80px"></th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= link_to supplier.name, supplier %></td>
        <td><%= link_to supplier.url, supplier.url, target: "_blank" if supplier.url.present? %></td>
        <td>
          <%= render "table_buttons", object: supplier %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Supplier', new_supplier_path, class: "button" %>
