<h1 class="title is-1">Suppliers</h1>

<div class="level">
  <div class="left-left">
    <div class="level-item">
      <%= link_to 'New Supplier', new_supplier_path, class: "button is-primary" %>
    </div>
  </div>
</div>

<table class="table is-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>URL</th>
      <th style="width: 80px"></th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= link_to supplier.name, supplier %></td>
        <td><%= link_to supplier.url, supplier.url, target: "_blank" if supplier.url.present? %></td>
        <td>
          <%= render "table_buttons", object: supplier %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
